<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head") %> 
<body>
	<!-- Header -->
	<%- include('../partials/header') %>
	<!-- /Header -->

	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Detalle del producto: <%= product.name %> </h2>
			</div>
		</div>
		<div class="product-detail">
			<div class="row">
				<div class="col-12 col-lg-8">
					<img src="/images/imagesDataBase/<%= product.image %> " alt="product image" class="product-detail-img">
					<p class="product-detail-description">
						<%= product.description %> 
					</p>
				</div>
				<div class="col-12 col-lg-4">
					<article class="product-detail-info">
						<h2 class="product-detail-title"><%= product.name %> </h2>
						<% if (product.discount != 0) { %>
							<p class="product-detail-price small">
								<span>$<%= product.price %> </span>
								/
								<b><%= product.discount %>  % OFF</b>
							</p>
							<p class="product-detail-price">
								$<%= toThousand(product.price * (100 - product.discount) / 100)%> 
							</p>
						 
						<% }else { %>
							<p class="product-detail-price">
								$<%= toThousand(product.price * (100 - product.discount) / 100)%> 
							</p>
							<% } %> 
							

						<ul class="actions-list">
							<li>
								<i class="fas fa-credit-card"></i>
								<p>Pagá en 12 cuotas sin interes</p>
							</li>
							<li>
								<i class="fas fa-store"></i>
								<p>Retiro gratis en locales del vendedor</p>
							</li>
						</ul>

						<a href="#" class="buy-now-button">COMPRAR AHORA</a>
						<hr>

						<a href="/products/edit/<%= product.id %> " class="action-button edit">EDITAR PRODUCTO</a>
						<form action="/products/delete/<%= product.id %>/?_method=DELETE" method="POST" style="display: inline-flex">
							<button type="submit" class="action-button delete">ELIMINAR</button>
						</form>
					</article>
				</div>
			</div>
		</div>
	</div>
	<div class="titulo">
		<h2>Ofertas</h2>
	</div>
	<section class="articulos">
		<article class="articulo">
			<a href="">
				<h3 class="nombre-articulo">ATR</h3>
				<div class="imagen-producto">
					<img class="imagen" src="/images/atr/atr1.webp" alt="atr">
				</div>
			</a>
		</article>
		<article class="articulo">
			<a href="">
				<h3 class="nombre-articulo">Decisiones de mierda</h3>
				<div class="imagen-producto">
					<img src="/images/decisiones-de-mierda/ddm1.webp" alt="Decisiones de mierda">
				</div>
			</a>
		</article>
		<article class="articulo">
			<a href="">
				<h3 class="nombre-articulo">HDP</h3>
				<div class="imagen-producto">
					<img src="/images/hdp/hdp1.webp" alt="hdp">
				</div>
			</a>
		</article>
	</section>
	<div class="titulo">
		<h2>Tambien te podria interesar</h2>
	</div>
	<section class="articulos">
		<article class="articulo">
			<a href="">
				<h3 class="nombre-articulo">Ni lo testeamos un poco</h3>
				<div class="imagen-producto">
					<img src="/images/Ni-lo-testeamos-un-poco/nltup1.webp" alt="Ni lo testeamos un poco">
				</div>
			</a>
		</article>
		<article class="articulo">
			<a href="">
				<h3 class="nombre-articulo">Amigos de mierda</h3>
				<div class="imagen-producto">
					<img src="/images/amigos-de-mierda/adm1.webp" alt="amigos de mierda">
				</div>
			</a>
		</article>
		<article class="articulo">
			<a href="">
				<h3 class="nombre-articulo">Tomalo vos</h3>
				<div class="imagen-producto">
					<img src="/images/tomalo-vos/tv1.webp" alt="Tomalo vos">
				</div>
			</a>
		</article>
	</section>
	<!-- /product detail -->
    <%- include("../partials/footer") %> 
    <script src="/js/efecto.js"></script>
</body>
</html>