<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/adminPerfilEdit.css">
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
        <title>Chancho va! </title>
         <!-- FontAwesome-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" /> 
    </head>
<body>
    <%- include('../partials/header')  %>
    <main class="userPerfilContainer">
        <%- include("../partials/menuAdmin")%>
        <div class="contenedorDatosUser">
            <div class="perfilAdmin">  
                <div class="nombre">
                    <h1>Edición de Datos</h1>
                </div>
                <h2><%= user.email %></h2>
                <div class="formulario">
                    <form id="form" action="/admin/adminPerfilEdit/<%= user.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
                        <!-- <div class="divInput">
                            <label class="label" for="id">Nombre de Usuario</label>
                            <input class="input" type="text" name="id" required>
                        </div>
                        <div class="divInput">
                            <label class="label" for="email">E-mail</label>
                            <input class="input" type="email" name="email" required>
                        </div> -->
                        <div class="divInput">
                            <label class="label" for="firstName">Nombre</label>
                            <input id="firstName" class="input <%= locals.errors && errors.first_name ? 'is-invalid' : null%>" type="text" name="firstName" value="<%= locals.errors && errors.first_name ? old.first_name : user.first_name %>" disabled>
                            <small class="text-danger ms-2"><%= locals.errors && errors.first_name ? errors.first_name.msg : null%></small>
                            <span id="firstNameErrors"></span> 
                        </div>
                        <div class="divInput">
                            <label class="label" for="lastName">Apellido</label>
                            <input id="lastName" class="input <%= locals.errors && errors.first_name ? 'is-invalid' : null%>" type="text" name="lastName" value="<%= locals.errors && errors.last_name ? old.last_name : user.last_name %>" disabled>
                            <small class="text-danger ms-2"><%= locals.errors && errors.last_name ? errors.last_name.msg : null%></small>
                            <span id="lastNameErrors"></span> 
                        </div>
<!--                         <div class="divInput">
                            <label class="label" for="password">Contraseña</label>
                            <input class="input" type="password" name="password" required>
                        </div>
                        <div class="divInput">
                            <label class="label" for="password2">Confirmar Contraseña</label>
                            <input class="input" type="password" name="password2" required>
                        </div> -->
                        <div class="divInput">
                            <label class="label" for="rol">Rol</label>
                            <select name="rol" id="rol" class="input <%= locals.errors && errors.rol ? 'is-invalid' : null%>">
                                <option value="" selected hidden>Seleccione rol</option>
                                <option value="1" <%= user.role_id == 1 &&  'selected' %>>Administrador</option>
                                <option value="2" <%= user.role_id == 2 &&  'selected' %>>Usuario</option>
                            </select>
                            <small class="text-danger ms-2"><%= locals.errors && errors.rol ? errors.rol.msg : null%></small>
                            <span id="rolErrors"></span> 
                        </div>
                        <!-- <div class="div_file">
                            <div class="file">
                                <p class="texto">Editar imagen</p>
                                <input class="productPhoto <%= locals.errors && errors.image ? 'is-invalid' : null%>" type="file"   id="productPhoto" name="productPhoto"  placeholder="Foto del producto">
                                <span id="fileErrors"></span> 
                            </div>
                        </div> -->
                        <div class="boton">
                            <button type="submit" class="guardar">Guardar Cambios</button>
                        </div>
                        <span id="submitErrors"></span>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <%- include('../partials/footer')  %>
    <script src="/js/admin.js"></script>
    <script src="/js/efecto.js"></script>
    <script src="/js/validations/editUserAdmin.js"></script>
</body>
</html>