<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/editProduct.css">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <title>Chancho va! </title>
     <!-- FontAwesome-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />
</head>
<body>
    <%- include("../partials/header") %>
        <main class="registro">
            <div class="contenedor">
                <h2>Editar producto</h2>
                <hr>
                <form method="POST" action="/admin/editProduct/<%= productToEdit.id %>?_method=PUT" >
                    <div class="contenedorFormularios">
                        <div class="input">
                            <label for="name">Nombre del producto</label>
                            <input class="estiloInput <%= locals.errors && errors.name ? 'is-invalid' : null%>" type="text" name="name" id="name" placeholder="Nombre del producto" required value="<%= productToEdit.name %>">                
                            <span class="mensajeError">Debe ingresar el nombre del producto</span>
                        </div> 
                        <div class="input">
                            <label for="price">Precio del producto</label>
                            <input class="estiloInput <%= locals.errors && errors.name ? 'is-invalid' : null%>" type="number" name="price" id="price" placeholder="Precio del producto"  step="0.01" min="0" required value="<%= productToEdit.price %>">                
                            <span class="mensajeError">Debe ingresar el precio del producto</span>
                        </div>
                    </div>
                    <div class="contenedorFormularios">
                        <div class="input">
                            <label for="discount">Descuento</label>
                            <input class="estiloInput <%= locals.errors && errors.name ? 'is-invalid' : null%>" type="number" name="discount" id="discount" placeholder="Precio del producto"  step="0.01" min="0" required value="<%= productToEdit.discount %>">                
                            <span class="mensajeError">Debe ingresar el precio del producto</span>
                        </div>
                        <div class="input">
                            <label for="category">Categoria del producto</label>
                            <input class="estiloInput <%= locals.errors && errors.name ? 'is-invalid' : null%>" type="text" name="category" id="category" placeholder="Categoria del producto" required value="<%= productToEdit.category %>">                
                            <span class="mensajeError">Debe ingresar la categoria del producto</span>
                        </div>
                        <div class="input">
                            <label for="category">SubCategoria del producto</label>
                            <input class="estiloInput <%= locals.errors && errors.name ? 'is-invalid' : null%>" type="text" name="subCategory" id="subCategory" placeholder="Sub-categoria del producto" required value="<%= productToEdit.subCategory %>">                
                            <span class="mensajeError">Debe ingresar la categoria del producto</span>
                        </div>
                    </div>
                    <div class="contenedorFormularios">
                        <div class="input">
                            <label for="image">Foto del producto</label>
                            <input class="estiloInput <%= locals.errors && errors.name ? 'is-invalid' : null%>" type="file"  accept=".jpg, .png"  id="image" name="image"  placeholder="Foto del producto">
                            <span class="mensajeError">La extensi칩n de la im치gen no es compatible</span>
                        </div>
                        <div class="input">
                            <label for="description">Descripci칩n del producto</label>
                            <input class="estiloInput <%= locals.errors && errors.name ? 'is-invalid' : null%>" type="text" name="description" id="description" placeholder="Descripci칩n del producto" required value="<%= productToEdit.description %>">                
                            <span class="mensajeError">Debe ingresar le descripcion del producto</span>
                        </div>   
                    </div>
                    <div class="boton">
                        <span class="mensajeError"> Debe completar todos los campos</span>
                        <button type="submit" class="registrar">Guardar Cambios</button>
                    </div>
                    
                </form>
            </div>
        </main>
        <%- include("../partials/footer") %> 
</body>
</html>