<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head") %> 
</head>
<body>
    <%- include("../partials/header") %> 
    <%- include("../partials/banner") %> 
    <main class="homeMain">
        <div class="contenedorHome">
            <section class="homeMenuTematico">
                <article class="contenedorCategoria">
                    <a href="/products/familiares"><img class="homeCategoria" src="/images/juegos familiares.png" alt=""></a>
                </article>
                <article class="contenedorCategoria">
                    <a href="/products/estrategia"><img class="homeCategoria" src="/images/juegos estrategia.png" alt=""></a>
                </article>
                <article class="contenedorCategoria">
                    <a href="/products/previa"><img class="homeCategoria" src="/images/juegos previa.png" alt=""></a>
                </article>
            </section>      
            <a href="/construccion"><h2 class="nombreSubCategoria">Ofertas</h2></a>
            <section class="homeProductos"> 
                <% categoriasId.forEach(products => { %>
                    <div class="homeContainerProductos">
                        <article class="homeTarjetaProducto">               
                            <div class="homeTarjetaImagen">
                                <a href="/products/detail/<%= products.id %>"><img class="imagenJuego" src="/images/imagesDataBase/<%= products.image %>" alt="" ></a>
                            </div> 
                            <div class="homeTarjetaDescripcion">
                                <h3 class="nombreJuego"><%= products.name %></h3>
                                <p class="juegoPrecio">$<%= products.price %></p>
                                <a href="/products/products/Carrito"><button class="btnAgregarAlCarrito"><i class="fa-solid fa-cart-shopping"></i> Agregar al carrito</button></a>
                            </div>
                        </article>
                    </div> 
                <% }) %>
            </section>
            <a href="/construccion"><h2 class="nombreSubCategoria">Mas Visitados</h2></a>
            <section class="homeProductos"> 
                <% categoriasId2.forEach(products => { %>
                    <div class="homeContainerProductos">
                        <article class="homeTarjetaProducto">               
                            <div class="homeTarjetaImagen">
                                <a href="/products/detail/<%= products.id %>"><img class="imagenJuego" src="/images/imagesDataBase/<%= products.image %>" alt="" ></a>
                            </div> 
                            <div class="homeTarjetaDescripcion">
                                <h3 class="nombreJuego"><%= products.name %></h3>
                                <p class="juegoPrecio">$<%= products.price %></p>
                                <a href="/products/products/Carrito"><button class="btnAgregarAlCarrito"><i class="fa-solid fa-cart-shopping"></i> Agregar al carrito</button></a>
                            </div>
                        </article>
                    </div> 
                <% }) %>
            </section>
        </div>
    </main>
    <div class="container-btn-wp">
        <a href="https://wa.me/987654321?" target="_blank">
            <img class="btn-wp" src="/images/iconowp.png" alt="">
        </a>
    </div>
    <%- include("../partials/footer") %> 
    <script src="js/efecto.js"></script>
</body>
</html>