<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head") %> 
<body>
	<!-- Header -->
	<%- include('../partials/header') %>
	<!-- /Header -->
    <main class="contenedorDetalles">
		<div class="contenedorTarjetaDetalle">
			<div class="nombreProductoDetalle">
				<h2 class="nombreProducto"> <%= session.userLogged.email %> </h2>
			</div>
			<article class="detallesProducto">
				<div class="imagenDescripcion">
					<img src="/images/<%= session.userLogged.avatar %> " alt="product image" class="imagenProducto">
					<p class="productoDescripcion"><%= session.userLogged.email %></p>
				</div>
				<div class="productoDetalles">
					<h2 class="nombreProducto"><%= session.userLogged.email %> </h2>
				
					<div class="botonEditarEliminar">
						<a href="/users/editUserProfile/<%= session.userLogged.id %> " class="botonEditar">EDITAR </a>
						<form action="/users/delete/<%= session.userLogged.id %>/?_method=DELETE" method="POST" class="formularioEliminar">
							<button type="submit" class="eliminar">ELIMINAR</button>
						</form>

						<form class="row g-3" action="/users/delete/<%= session.userLogged.id%>?_method=DELETE" method="POST">
							<button type="submit" class="btn btn-danger">Eliminarme</button>
					</div>
				</div>
			</article>
		</div>

		
		<!-- /product detail -->
		<%- include("../partials/footer") %> 
		<script src="/js/efecto.js"></script>
	</main>
	<!-- product detail -->
</body>
</html>