<!DOCTYPE html>
<html lang="en">

<%- include("../partials/head") %> 

<body>
    <%- include("../partials/header") %> 
    <main class="mainLogin">
        <div class="form-container">
            <h2 class="nombre">Login</h2>
            <hr>
            <div class="contenedorFormulario">
                <form class="formularioLogin"  id="login_form" action="/users/login" method="POST">
                    <div class="input-container">
                        <p class="input-text">Dirección de correo electrónico.</p>                       
                        <input id="email" class="input-style <%= locals.errors && errors.email ? 'is-invalid' : null%>" type="email" name="email" placeholder="ej: veronikos@lomejor.com" value="<%= locals.old && locals.old.email ? locals.old.email : null %>">
                       
                        <small id="errorEmail" class="text-danger ms-2"><%= locals.errors && errors.email ? errors.email.msg : null%></small>
                    </div>
                    <div class="input-container">
                        <p class="input-text">Contraseña.</p>
                        <input id="password" class="input-style <%= locals.errors && errors.password && !errors.email ? 'is-invalid' : null%>" type="password" name="password" placeholder="Ingrese su contraseña">
        
                        <small id="passError" class="text-danger ms-2"><%= locals.errors && errors.password ? errors.password.msg : null%></small>
                    </div>
                    <div class="check">
                        <label class="text-remember" for="remember">Recordarme</label>
                        <input class="checkbox" type="checkbox" name="remember" id="remember">
                        <small class="text-danger ms-2"><%= locals.errors && errors.remember ? errors.remember.msg : null%></small>
                    </div>
                    <div class="button-container">
                        <span id="submitErrors"  class="text-danger ms-2" ></span>
                        <button type="submit" class="btn-submit">Ingresar</a></button>
                        
                    </div>
                    <div class="contenedorBotones">
                        <div class="resetPass">
                            <p class="text-remember"><a href="/users/reset-password">¿Olvidaste tu contraseña?</a></p>
                        </div>
                        <div class="registrate">
                            <p class="text-remember" id="noTienesCuenta"><a href="/users/register">¿Aun no tienes cuenta?</a></p>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </main>
    <%- include("../partials/footer") %> 
    <script src="/js/efecto.js"></script>
    <script src="/js/validations/login.js"></script>
</body>
</html>